__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
build/
dist/
.git
*.log
.env
.DS_Store
.vscode
.idea
*.cache
*.tmp
*.bak
*.orig
*.lock
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.tgz
*.gz
*.bz2
*.xz
*.md
README*
LICENSE*
